.auth-section {
  padding: 0;
  margin: 0;
  position: relative;

  .video-bg-fixed-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .video-bg {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .auth-div {
    padding: 80px 0;
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-center-root {
      padding: 0;
      margin: 0 auto;
      position: relative;
      width: 100%;

      .auth-header-div {
        padding: 0;
        margin: 0 auto 40px auto;
        position: relative;
        width: 100%;
        z-index: 2;

        .logo-header-div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          margin: 0 auto 30px auto;

          .img-logo-auth {
            width: 250px;
            object-fit: contain;
          }
        }

        .text-div {
          h3 {
            font-weight: 600;
            font-size: 44px;
            line-height: 1.4;
            color: #fff;
            display: block;
            width: 100%;
            text-align: center;
          }
        }
      }

      .auth-body-div {
        padding: 0;
        margin: 0 auto;
        position: relative;
        max-width: 660px;

        &::before {
          content: "";
          background: transparent linear-gradient(114deg, #0072ff 0%, #00c6ff 100%);
          height: 100%;
          width: calc(100% - 10px);
          position: absolute;
          border-radius: 20px;
          filter: blur(50px);
          left: 10px;
        }

        .auth-card-box {
          padding: 0;
          margin: 0;
          position: relative;
          background: #fff;
          box-shadow: 0px 23px 66px #00000010;
          border-radius: 27px;

          &.auth-card-box2 {
            padding-bottom: 30px;

            .general-form-btn {
              margin: 5px 0 30px 0;
            }
          }

          .center-container {
            margin: 0 auto;
            width: 100%;
          }

          .title-div {
            padding: 0;
            margin: 0;
            position: relative;
            background: #002855;
            border-radius: 25px 25px 0px 0px;

            .back-div {
              display: flex;
              position: absolute;
              left: 10px;
              top: 11px;
            }

            h1 {
              font-weight: 700;
              font-size: 25px;
              line-height: 1.5;
              text-align: center;
              letter-spacing: 0px;
              color: #fff;
              padding: 10px 15px 10px 15px;
              min-height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
            }
          }

          .title-div-back-div {
            padding-left: 60px;
            padding-right: 60px;
          }

          .auth-card-body {
            padding: 15px;
            margin: 0;
            position: relative;
            min-height: 320px;

            .form-root {
              padding: 15px 15px;
            }
          }

          .bottom-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 5px 0 0 5px;
            margin: 0 0 10px 0;
            position: relative;
            width: 100%;
          }

          .general-form-btn {
            padding: 0;
            margin: 0 0 5px 0;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
          }

          .bottom-link-row {
            padding: 0;
            margin: 0 0 20px 0;
            position: relative;

            p {
              font-weight: 400;
              font-size: 14px;
              color: #778ca2;
              text-align: center;
            }
          }

          .min-d-h134 {
            min-height: 134px;
          }

          .center-forgot-form-div {
            padding: 20px 0 5px 0;

            .form-group-custom {
              .prag-label-div {
                margin: 0 0 20px 0;

                p {
                  text-align: center;
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 1.5;
                  letter-spacing: 0;
                  color: #000;
                  margin: 0 0 10px 0;
                  display: block;
                }
              }

              .center-text {
                text-align: center;
              }
            }
          }

          .center-general-form-btn {
            justify-content: center;
          }
        }
      }

      .ss-expired-body-div {
        max-width: 510px;

        &::before {
          opacity: 0;
        }
      }
    }
  }

  .login-redirection-div {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 380px;
    flex-wrap: wrap;

    .login-redirection-inner-div {
      width: 100%;

      .top-redirection-div {
        padding: 0;
        margin: 0 0 25px 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .progress-circle {
          width: 110px;
          height: 110px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .circle-progress-value {
          stroke-width: 10px;
          stroke: #0072ff;
          stroke-linecap: round;
        }

        .circle-progress-circle {
          stroke-width: 10px;
          stroke: #eaf0f7;
        }
      }

      .middle-redirection-div {
        margin: 0 0 20px 0;

        h4 {
          text-align: center;
          font-weight: 600;
          letter-spacing: 0;
          color: #000;
          font-size: 20px;
          line-height: 1.5;
          display: block;
          margin: 0 0 5px 0;
        }

        p {
          text-align: center;
          letter-spacing: 0;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 500;

          .link {
            color: #f98d29;
          }
        }
      }
    }
  }

  .session-expired-div {
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 356px;
    flex-wrap: wrap;

    .session-expired-inner-div {
      width: 100%;

      .img-char-div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 20px 0;
        padding: 2px 0 0 0;
      }

      .middle-se-text-div {
        margin: 0 0 20px 0;

        h4 {
          text-align: center;
          font-weight: 600;
          letter-spacing: 0;
          color: #f98d29;
          font-size: 25px;
          line-height: 1.3;
          display: block;
          margin: 0 0 7px 0;
        }

        p {
          text-align: center;
          letter-spacing: 0;
          font-size: 16px;
          line-height: 1.3;
          font-weight: 600;
          color: #000;

          .link {
            color: #f98d29;
          }
        }
      }
    }
  }

  .welcome-div {
    padding: 130px 0 130px 0;

    .welcome-center-root {
      .welcome-card-body-root {
        max-width: 475px;

        .welcome-card-bd-top {
          padding: 20px 0 0 0;

          .welcome-card-bd-top-row {
            padding: 0;
            margin: 0;
            position: relative;

            .thumb-center-div {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 0 10px 0;

              .img-dv {
                position: relative;
                border-radius: 100px;

                &::before {
                  content: "";
                  border: 2px solid #ffa619;
                  opacity: 1;
                  filter: blur(5px);
                  width: 78px;
                  height: 78px;
                  display: inline-block;
                  border-radius: 100%;
                  position: absolute;
                }

                .img-responsive {
                  width: 79px;
                  height: 79px;
                  border-radius: 100px;
                  object-fit: cover;
                  position: relative;
                }
              }
            }

            .tl-txt-div {
              margin: 0 0 38px 0;

              h4 {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 0;
                color: #000;
                text-align: center;
                display: block;
                margin: 0 0 7px 0;
              }

              p {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 0;
                color: #afafaf;
                text-align: center;
                display: block;
                margin: 0 0 9px 0;
              }
            }

            .tl-txt-div-center {
              margin: 0 0 30px 0;

              h2 {
                font-size: 34px;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 0;
                color: #000;
                text-align: center;
                display: block;
                margin: 0 0 7px 0;
              }

              p {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.3;
                letter-spacing: 0;
                color: #afafaf;
                text-align: center;
                display: block;
                margin: 0 0 7px 0;
              }
            }
          }
        }

        .form-join-root {
          padding: 12px 15px 5px 15px;

          .form-group-join-custom {
            max-width: 374px;
            margin: 0 auto;
            position: relative;
            min-height: 90px;

            .input-control {
              position: relative;
              margin: 0 0 13px 0;
            }

            .form-control {
              font-size: 18px;
              color: #000;
              min-height: 52px;
              padding: 8px 125px 8px 28px;
              border: none;
              border-radius: 70px;
              line-height: 24px;
              margin: 0 0 5px 0;
              font-weight: 500;
              background: #eff2f6;

              &::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.3);
              }

              &::-moz-placeholder {
                color: rgba(0, 0, 0, 0.3);
              }

              &:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.3);
              }

              &:-moz-placeholder {
                color: rgba(0, 0, 0, 0.3);
              }

              &:hover,
              &:focus,
              &:active {
                box-shadow: none;
                outline: none;
              }
            }

            .btn.btn-join-now {
              position: absolute;
              top: 0;
              right: 0;
              font-size: 18px;
              padding: 7px 20px 6px 20px;
              min-height: 52px;
              margin: 0;
              min-width: 120px;
            }
          }

          .error-message-box {
            p {
              font-weight: 600;
              font-size: 18px;
              line-height: 1.4;
              letter-spacing: 0px;
              color: #ff1a46;
            }
          }
        }
      }
    }
  }

  .auth-footer-top-right-div {
    position: fixed;
    top: 30px;
    right: 30px;

    .btn.btn-common-primary {
      min-height: 52px;
      padding: 7px 20px 7px 20px;
      min-width: 170px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .auth-section {
    .auth-div {
      padding: 40px 0;

      .auth-center-root {
        .auth-header-div {
          margin: 0 auto 30px auto;

          .logo-header-div {
            margin: 0 auto 20px auto;

            .img-logo-auth {
              width: 120px;
            }
          }

          .text-div {
            h3 {
              font-size: 20px;
            }
          }
        }

        .auth-body-div {
          .auth-card-box {
            .title-div {
              h1 {
                font-size: 18px;
                padding: 10px 15px 7px 15px;
                min-height: 50px;
              }
            }

            .title-div-back-div {
              padding-left: 50px;
              padding-right: 50px;
            }

            .bottom-row {
              margin: 0;
            }

            .auth-card-body {
              .form-root {
                padding: 5px 5px;
              }
            }

            .center-forgot-form-div {
              .form-group-custom {
                .prag-label-div {
                  p {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }

        .ss-expired-body-div {
          max-width: calc(100% - 26px);
          width: 100%;
        }
      }
    }

    .login-redirection-div {
      .login-redirection-inner-div {
        .middle-redirection-div {
          h4 {
            font-size: 16px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    .session-expired-div {
      min-height: 265px;

      .session-expired-inner-div {
        .img-char-div {
          .img-character {
            max-width: 195px;
            width: 100%;
            height: 135px;
            object-fit: cover;
            object-position: bottom;
          }
        }

        .middle-se-text-div {
          h4 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
            line-height: 17px;
            margin: 0 auto;
            max-width: 180px;
          }
        }
      }
    }

    .welcome-div {
      padding: 70px 0 75px 0;

      .welcome-center-root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 145px);

        .welcome-card-body-root {
          max-width: calc(100% - 14px);

          .welcome-card-bd-top {
            .welcome-card-bd-top-row {
              .tl-txt-div {
                margin: 0 0 24px 0;

                h4 {
                  font-size: 16px;
                  margin: 0 0 13px 0;
                }

                p {
                  font-size: 14px;
                  line-height: 17px;
                  max-width: 160px;
                  margin: 0 auto 9px auto;
                }
              }

              .tl-txt-div-center {
                margin: 0 0 20px 0;

                p {
                  font-size: 16px;
                }

                h2 {
                  font-size: 22px;
                }
              }
            }
          }

          .form-join-root {
            padding: 0 13px 5px 13px;

            .form-group-join-custom {
              min-height: 79px;
              display: flex;
              flex-direction: column-reverse;

              .form-control {
                font-size: 14px;
                min-height: 44px;
                padding: 8px 103px 8px 20px;
              }

              .input-control {
                margin: 0 0 4px 0;
              }

              .btn.btn-join-now {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 14px;
                padding: 7px 15px 6px 15px;
                min-height: 44px;
                margin: 0;
                min-width: 93px;
              }
            }

            .error-message-box {
              margin: 0 0 7px 0;

              p {
                font-size: 14px;
                text-align: center;
              }
            }
          }
        }
      }

      .auth-footer-top-right-div {
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        justify-content: center;
        padding: 48px 0 0 0;

        .btn.btn-common-primary {
          min-height: 46px;
          padding: 7px 20px 7px 20px;
          min-width: 162px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .auth-section {
    .auth-div {
      padding: 40px 0;

      .auth-center-root {
        .auth-header-div {
          .logo-header-div {
            margin: 0 auto 15px auto;

            .img-logo-auth {
              width: 202px;
            }
          }

          .text-div {
            h3 {
              font-size: 33px;
            }
          }
        }

        .auth-body-div {
          .auth-card-box {
            .auth-card-body {
              .form-root {
                padding: 15px 10px 10px 10px;
              }
            }

            .title-div {
              h1 {
                font-size: 18px;
                padding: 11px 15px 10px 15px;
                min-height: 50px;
              }
            }

            .title-div-back-div {
              padding-left: 50px;
              padding-right: 50px;
            }

            .center-forgot-form-div {
              .form-group-custom {
                .prag-label-div {
                  p {
                    font-size: 18px;
                  }
                }
              }
            }

            .min-d-h134 {
              min-height: 125px;
            }
          }
        }
      }
    }

    .auth-footer-top-right-div {
      top: 25px;
      right: 25px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1490px) {
  .auth-section {
    .auth-div {
      .auth-center-root {
        .auth-header-div {
          .logo-header-div {
            .img-logo-auth {
              width: 202px;
            }
          }

          .text-div {
            h3 {
              font-size: 33px;
            }
          }
        }
      }
    }

    .auth-footer-top-right-div {
      top: 25px;
      right: 25px;
    }
  }
}
