.modal-custom {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .incall-participent {
          &.guest-participent-div {
            padding: 0 0 30px 0;
          }

          .participent-list-main {
            max-height: 576px;
          }

          .participent-list {
            ul.list {
              li {
                padding: 12px 50px 12px 40px;

                .pr-user-right-text-div {
                  padding: 0 10px 0 0;
                  position: relative;

                  h2 {
                    font-size: 18px;
                    line-height: 24px;
                    color: rgba(0, 20, 47, 0.4);
                    font-weight: 500;
                    min-width: 48px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-participant {
  &.modal-custom {
    .modal-dialog {
      .modal-content {
        box-shadow: 0 23px 66px 0 #0000008f;
      }
    }
  }
}

.request-to-share-screen-sent-div {
  padding: 0 0 10px 0;
  text-align: center;

  h3 {
    font-size: 25px;
    line-height: 1.4;
    font-weight: 600;
    color: #00142f;
    max-width: 520px;
    margin: 0 auto 10px auto;
  }
}

// iPad Pro landscape & Laptop Device
@media (min-width: 1025px) and (max-width: 1450px) {
}

// Mobile
@media (max-width: 767px) and (orientation: portrait) {
  .modal-guest {
    .modal-dialog {
      .modal-content {
        border-radius: 15px;

        .modal-header {
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }

  .select2-container .ContainerDropdownCustom-outside {
    .select2-results__option {
      font-size: 14px;
      line-height: 20px;
    }

    .select2-results ul {
      padding: 12px 21px 16px 21px;
      border: 1px solid #eaeaea !important;
      box-shadow: none !important;
    }
  }

  .modal-seeting {
    &.modal-custom {
      .modal-dialog {
        .modal-content {
          .close-top-right {
            border-radius: 15px 15px 0 0;
            min-height: 46px;
            padding: 11px 16px 11px 16px;

            .close {
              height: 46px;
              border-radius: 0 15px 0 0;
              margin: -11px -16px;
              padding: 2px;
              width: 46px;

              img {
                width: 18px;
                object-fit: contain;
              }
            }
          }

          .modal-body {
            .setting-content {
              min-height: calc(100vh - 100px);

              .tab-inner {
                min-height: calc(100vh - 260px);
              }
            }
          }
        }
      }
    }
  }

  .modal-participant {
    &.modal-custom {
      .modal-dialog {
        .modal-content {
          .close-top-right {
            .close {
              height: 46px;
              border-radius: 0 15px 0 0;
              margin: -12px -22px;
              padding: 2px;

              img {
                width: 18px;
                object-fit: contain;
              }
            }
          }

          .modal-header {
            border-radius: 15px 15px 0 0;
            padding: 12px 22px !important;
            min-height: 46px;

            h5 {
              padding-left: 0;
            }
          }

          .modal-body {
            .incall-participent {
              .search-incall {
                .form-control {
                  font-size: 14px;
                  line-height: 22px;
                }
              }

              .participent-list-main {
                height: auto !important;
                max-height: 540px;
              }

              .participent-list {
                ul.list {
                  li {
                    padding: 9px 12px 9px 22px;

                    .partcipent-user {
                      .user-img {
                        height: 42px;
                        width: 42px;
                      }

                      .user-info {
                        max-width: calc(100% - 42px);

                        h3 {
                          font-size: 14px;
                        }
                      }
                    }

                    .pr-user-right-text-div {
                      h2 {
                        font-size: 14px;
                        line-height: 24px;
                        min-width: 48px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .modal-share-screen {
    &.modal-custom {
      .modal-dialog {
        .modal-content {
          .modal-header {
            border-radius: 15px 15px 0 0;
            min-height: 46px;
          }
        }
      }
    }
  }

  .request-to-share-screen-sent-div {
    h3 {
      margin: 0 auto 0 auto;
      font-size: 18px;
    }
  }
}

// Mobile landscape
@media (min-width: 470px) and (max-width: 1024px) and (max-height: 500px) and (orientation: landscape) {
  .modal-seeting {
    .modal-dialog {
      .modal-content {
        .modal-header {
          &.close-top-right {
            position: sticky !important;
            top: 0;
            z-index: 9999;
            border-bottom: 0;

            .close {
              padding: 0 20px !important;
              margin: 0 !important;
              top: 0;

              .close-text {
                margin-right: 17px;
              }
            }
          }
        }

        .modal-body {
          &.bg-f8-sm {
            background: #f8f8f8;

            .select2-container--default .select2-selection--single {
              border: 1px solid #eaeaea !important;
              background-color: #f8f8f8;
            }

            .custom-checkbox.custom-checkbox-2 .custom-control-label::before {
              border: 1px solid #d6ddea;
            }

            .custom-checkbox.custom-checkbox-2 .custom-control-input:checked ~ .custom-control-label::before {
              border: 1px solid transparent;
            }
          }

          .setting-content {
            min-height: calc(100vh - 66px);
            max-height: calc(100vh - 66px);

            .nav-tabs {
              li {
                a {
                  font-size: 16px;
                  line-height: 19px;
                }
              }
            }

            .tab-inner {
              padding-top: 30px;

              .form-group {
                margin-bottom: 18px;
              }

              .audio-setting {
                .form-group {
                  .col-form-label.sm-col-form-label-pt0 {
                    padding-top: 0;
                  }
                }
              }
            }

            .btn-general-tab {
              margin-top: 61px;
            }

            .tab-button {
              .btn.btn-sm-btn-orange {
                font-size: 14px;
              }

              &.btn-share-tab {
                padding-top: 21px;
              }
            }
          }
        }
      }
    }
  }

  .select2-container .ContainerDropdownCustom-outside {
    .select2-results__option {
      font-size: 16px;
      line-height: 20px;
    }

    .select2-results ul {
      padding: 12px 21px 16px 21px;
      border: 1px solid #eaeaea !important;
      box-shadow: none !important;
    }
  }

  @media (min-width: 470px) and (max-width: 806px) and (max-height: 500px) and (orientation: landscape) {
  }

  @media (min-width: 470px) and (max-width: 620px) and (max-height: 500px) and (orientation: landscape) {
  }
}
